@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 300;
    src: url("/fonts/Quicksand-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 400;
    src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 500;
    src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 600;
    src: url("/fonts/Quicksand-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 700;
    src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
  }

  html,
  body,
  .screen {
    @apply w-full h-full font-quicksand overflow-hidden;
  }
}

.basic-4 {
  background: linear-gradient(currentColor 0 0);
  background-size: var(--size, 0) 2px;
  background-position: var(--position, 0) 100%;
  background-repeat: no-repeat;
  transition: 0.1s, background-position 0s 0.1s;
}
.basic-4-active {
  --size: 100%;
  --position: 100%;
}
