@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 300;
    src: url("/fonts/Quicksand-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 400;
    src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 500;
    src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 600;
    src: url("/fonts/Quicksand-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Quicksand";
    font-weight: 700;
    src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
  }

  html,
  body,
  .screen {
    @apply w-full h-full font-quicksand overflow-hidden;
  }

  .header-1 {
    @apply font-quicksand text-header-1 text-fg-l dark:text-fg-d;
  }
  .header-2 {
    @apply font-quicksand text-header-2 text-fg-l dark:text-fg-d;
  }
  .header-3 {
    @apply font-quicksand text-header-3 text-fg-l dark:text-fg-d;
  }
  .header-4 {
    @apply font-quicksand text-header-4 text-fg-l dark:text-fg-d;
  }
  .header-5 {
    @apply font-quicksand text-header-5 text-fg-l dark:text-fg-d;
  }
  .header-6 {
    @apply font-quicksand text-header-6 text-fg-l dark:text-fg-d;
  }
  .body-intro {
    @apply font-quicksand text-body-intro text-fg-l dark:text-fg-d;
  }
  .body-regular {
    @apply font-quicksand text-body-regular text-fg-l dark:text-fg-d;
  }
  .body-medium {
    @apply font-quicksand text-body-medium text-fg-l dark:text-fg-d;
  }
  .body-bold {
    @apply font-quicksand text-body-bold text-fg-l dark:text-fg-d;
  }
  .body-small-regular {
    @apply font-quicksand text-body-small-regular text-fg-l dark:text-fg-d;
  }
  .body-small-medium {
    @apply font-quicksand text-body-small-medium text-fg-l dark:text-fg-d;
  }
  .body-small-bold {
    @apply font-quicksand text-body-small-bold text-fg-l dark:text-fg-d;
  }
  .caption-regular {
    @apply font-quicksand text-caption-regular text-fg-l-s dark:text-fg-d-s;
  }
  .caption-medium {
    @apply font-quicksand text-caption-medium text-fg-l-s dark:text-fg-d-s;
  }
  .caption-bold {
    @apply font-quicksand text-caption-bold text-fg-l-s dark:text-fg-d-s;
  }
  .caption-small-regular {
    @apply font-quicksand text-caption-small-regular text-fg-l-s dark:text-fg-d-s;
  }
  .caption-small-medium {
    @apply font-quicksand text-caption-small-medium text-fg-l-s dark:text-fg-d-s;
  }
  .caption-small-bold {
    @apply font-quicksand text-caption-small-bold text-fg-l-s dark:text-fg-d-s;
  }
}

.basic-4 {
  background: linear-gradient(currentColor 0 0);
  background-size: var(--size, 0) 2px;
  background-position: var(--position, 0) 100%;
  background-repeat: no-repeat;
  transition: 0.1s, background-position 0s 0.1s;
}
.basic-4-active {
  --size: 100%;
  --position: 100%;
}
